//提供全局变量

//侧边导航区宽度
$base-menu-width: 260px;

$base-menu-min-width: 80px;
//侧边导航区背景颜色
$base-menu-background: #956A61;

//顶部导航栏背景颜色
$base-nav-background: #A28887;

//顶部导航栏高度
$base-nav-height: 55px;

//内容区背景颜色
$base-set-background: #DCD5CB;
